@media screen and (max-width:1240px) {
    .container{
        width: auto;
    }
    .hero-cont{
        height: 90vh;
    }
    .explore-cont{
        height: 90vh;
    }
}

@media screen and (max-width:1024px) {
  
    /* HERO-SECTION-START */
    .hero-cont{
        height: 75vh;
    }
}

@media screen and (max-width:991px) {
    
}

@media screen and (max-width:769px) {

    .btn button{
        font-size: 18px;
        padding: 12px 28px;
    } 

    /* HERO-SECTION-START */
    .hero-cont h1{
        padding-top: 25px;
        font-size: 36px;
    }

    .hero-cont h5{
        font-size: 24px;
    }

     /* HERO-SECTION-END */

     /* EVENT-ECTION-START */

     .event-content p{
        font-size: 14px;
     }

     .event-content button{
        font-size: 12px ;
        padding: 10px 16px;
     }

     /* EXPLORE-SECTION-START */
     .explore-cont{
        height: 70vh;
     }
     .explore-content h3{
        font-size: 35px;
     }
     .explore-content p{
        padding-top: 40px;
        font-size: 16px;
     }

     /* EXPLORE-SECTION-END */

     /* TOUR-SECTION-START */
     .tour-content{
        padding-top: 50px;
     }
     .tour-content h3{
        font-size: 37px;
     }
     .tour-content p{
        font-size: 16px;
     }
     .t-image img{
        height: 200px;
     }
     .tour-content button{
        font-size: 14px;
        padding: 12px 18px;
     }
}

@media screen and (max-width:541px) {
    .container{
        width: auto;
    }
    .btn button{
        font-size: 16px;
        padding: 10px 26px;
    } 
    /* HERO-SECTION-START */
    .hero-cont{
        height: 51vh;
    }
      /* HERO-SECTION-END */

      /* EVENT-SECTION-START */

      .event-card{
        display: block;
      }

      .event-container{
        margin-top: 10px;
        border: 1px solid red;
      }

      /* EXPLOR-SECTION-START */
      .explore-cont{
        height: 51vh;
      }
      .explore-content h3{
        font-size: 30px;
      }
      .explore-content p{
        padding-top: 30px;
        font-size: 11px;
      }
      /* TOUR-SECTION-START */
      .tours-cont{
        display: block;
      }
      .tour-content h3{
        font-size: 52px;
      }
      .tours-image{
        display: block;
      }
      .t-image img{
        height: 300px;
      }
}

@media screen and (max-width:479px) {
    .container{
        width: auto;
    }
    .explore-content{
        left: 5%;
    }
    .explore-content h3{
        font-size: 25px;
    }
    .explore-content p{
        padding-top: 20px;
        font-size: 9px;
    }
}

